@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Font face for Euclid Circular A */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('https://fonts.cdnfonts.com/css/euclid-circular-a') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Poppins', sans-serif;
}


#header-logo {
  width: 150px;
  height: auto;
}

#header-user {
  background-color: #ffffff;
  filter: drop-shadow(0 4px 15px rgba(39, 39, 39, 0.25));
  border-radius: 16px;
  display: flex;
  padding: 20px;
  width: 200px;
  height: 70px;
}

#user-name {
  font-size: 16px;
  color: #272727;
  margin-left: 10px;
  padding-right: 5px;
}

#user-id {
  font-size: 14px;
  color: #a3a3a3;
}

#header-user span {
  font-size: 14px;
  color: #272727;
}

#user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#header-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#header-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#header-pages a {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 18px;
  left: -60%;
  padding-right: 40px;
}

#dashboard-container {
  display: flex;
  height: calc(100vh - 100px);
  font-family: 'Euclid Circular A', sans-serif;
}

#sidebar {
  width: 220px;
  background-color: #ffffff;
  padding: 20px;
}

#sidebar nav ul {
  list-style: none;
  padding: 0;
}

#sidebar li:nth-child(2) {
  background-color: #272727;
  color: white;
  padding: 10px 20px;
  border-radius: 32px;
  font-weight: 600;
  transition: 700ms ease-in-out;
}

#sidebar li:hover {
  background-color: rgba(39, 39, 39, 0.1);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 32px;
  font-weight: 600;
  transition: 700ms ease-in-out;
}

#sidebar nav ul li {
  margin: 15px 0;
}

#logout-button {
  background-color: #272727;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 32px;
  cursor: pointer;
  margin-top: 40px;
}

#logout-button:hover {
  background-color: #1e1e1e;
}

.divider {
  width: 2px;
  background-color: #1e1e1e;
  margin: 0 8px;
}

#main-content {
  display: grid;
  grid-template-columns: 280px 1fr 340px;
  gap: 24px;
  background-color: #f4f4f4;
  border-radius: 16px;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: start;
}

.left-items {
  grid-column: 1;
}

.center-items {
  grid-column: 2;
}

.right-items {
  grid-column: 3;
}

.calendar {
  background-color: #ffffff;
  filter: drop-shadow(0 4px 15px rgba(39, 39, 39, 0.25));
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  height: 270px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
  padding-left: 10px;
}

.calendar-day {
  transition: 600ms;
}

.calendar-day:hover {
  background-color: rgba(39, 39, 39, 0.1);
  cursor: pointer;
  border-radius: 8px;
}

.main-title {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #272727;
}

.main-date {
  font-size: 20px;
  font-weight: 400;
  color: #a3a3a3;
  position: relative;
  left: -68%;
  bottom: -60px;
}

.calendar-month {
  font-size: 18px;
  font-weight: 600;
  color: #272727;
  text-align: center;
}

#search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border: #272727 1px solid;
  border-radius: 16px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-category {
  background-color: #ffffff;
  filter: drop-shadow(0 4px 15px rgba(39, 39, 39, 0.25));
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-bottom: 20px;
}

.card-category h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #272727;
}

.category-color {
  width: 16px;
  height: 16px;
  border-radius: 25%;
  display: inline-block;
  margin-right: 10px;
}

.event-button {
  display: flex;
  background-color: #ffffff;
  filter: drop-shadow(0 4px 15px rgba(39, 39, 39, 0.25));
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-bottom: 20px;
  width: 150px;
  transition: 700ms;
}

.event-button h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #272727;
}

.event-button:hover {
  background-color: rgba(39, 39, 39, 0.1);
  cursor: pointer;
}

#event-icon {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#month-filter,
#week-filter {
  width: 100px;
  padding: 10px;
  border: #272727 1px solid;
  border-radius: 16px;
  margin-bottom: 20px;
}