#main-content {
  flex: 1;
  background-color: #f4f4f4;
  border-radius: 16px;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.titulo-financeiro {
  padding-right: 20px;
  font-size: 2.3rem;
  font-weight: 600;
  color: #272727;
  margin-bottom: 0;
}

.financeiro-barra-superior {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
}

.input-busca {
  padding: 10px 16px;
  border: 1.5px solid #d1d5db;
  border-radius: 16px;
  font-size: 1rem;
  background: #fff;
  outline: none;
  width: 220px;
}

.financeiro-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(39,39,39,0.10);
  display: flex;
  flex-direction: column;
}

.card-lucros {
    width: 30%;
}

.card-header {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 16px 24px 8px 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-header-lucro {
  background: #272727;
  color: #fff;
}

.card-header-despesa {
  background: #272727;
  color: #fff;
}

.card-header-dados {
  background: #272727;
  color: #fff;
}

.card-content {
  padding: 16px 24px 24px 24px;
  font-size: 1rem;
  color: #272727;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-despesas {
    width: 100%;
}

.card-lucros, .card-despesas {
  grid-column: span 1;
  min-width: 260px;
}

.card-dados {
  grid-column: span 1;
  width: 60%;
}

.grafico-placeholder {
  background: #f4f4f4;
  border-radius: 12px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3a3a3;
  font-size: 1.1rem;
}

.grafico-placeholder img {
    margin-top: 80px;
}

.indicador-container {
  width: 100%;
  display: flex;
  gap: 30px;
}

.card-indicador {
  width: 220px;
  height: 120px;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  box-shadow: 0 4px 16px rgba(39,39,39,0.10);
}

.card-indicador-lucro, .card-indicador-previsao {
  background: #fff;
}

.card-indicador-despesa, .card-indicador-despesa-esp {
  background: #fff;
}

.indicador-valor {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 4px;
  text-align: center;
}

.indicador-valor.positivo {
  color: #059669;
}

.indicador-valor.negativo {
  color: #ef4444;
}

.indicador-label {
  font-size: 1rem;
  color: #272727;
  text-align: center;
  margin-bottom: 18px;
}